@using System.Globalization
@model IEnumerable<Product>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold">#1 Marketplace to Buy & Sell Apps</h1>
        <h3 class="fw-normal text-muted mb-3">AnkaX is the app entrepreneur's marketplace; buy, sell and browse thousands of iOS and Android app businesses for sale.</h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="#">
                Learn more
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
            <a class="icon-link" href="#">
                Buy 
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded"> 
                       
                            <img src="@product.ImageUrl" class="card-img-top rounded" />
                        
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-primary opacity-90 text-uppercase text-center">@product.Title</p>
                                <p class="card-title text-warning text-center">by <b>@product.SiteAge</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    MonthlyNetProfit:
                                    <span class="text-decoration">
                                        @product.MonthlyNetProfit.ToString("c", new CultureInfo("en-US"))
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-secondary text-75 text-center">
                                    Asking Price (Classified):
                                    <span>
                                        @product.Price.ToString("c", new CultureInfo("en-US"))
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details"
                           asp-route-productId="@product.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
